.nav_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--level-3);
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.5rem;
    box-shadow: var(--shadow);
}

.nav_wrap a {
    text-align: left;
    transition: .25s;
    border-radius: 1rem;
    padding: 1rem;
}

.nav_wrap a:hover {
    background-color: var(--hover);
}

.nav_wrap span {
    font-weight: bold;
    margin-right: 1rem;
}