.board {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.post_list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--level-0-opacity);
  border-radius: 1rem;
  margin: 1rem .5rem 8rem;
  padding: .5rem 0;
}

.post_item_wrap {
  margin: 0 .5rem;
  display: flex;
  border-radius: 1rem;
  transition: var(--hover-transition);
  cursor: pointer;
}

.post_item_wrap:hover {
  background-color: var(--level-3);
  box-shadow: var(--shadow);
}

.post_item {
  flex: 1;
  display: flex;
  padding: 1rem 1rem 1rem 0;
  border-radius: 1rem;
}

.total_comments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.post_title {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}

.user_info {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.user_info a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post_info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-level-1);
}

.total_likes::after {
  content: ' ♥';
}

.post_view {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.post_load_bar {
  height: 5rem;
}

.category_list_wrap {
  position: sticky;
  z-index: 1;
  top: .5rem;
  margin: 0 .5rem;
  background-color: var(--level-2-opacity);
  backdrop-filter: blur(.5rem);
  border-radius: 1rem;
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--level-2);
  transition: var(--hover-transition);
}

:is(.refresh, .write):hover {
  background-color: var(--hover);
}

:is(.refresh, .write) img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  filter: var(--bright);
}

.write {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--level-4);
  border-radius: 50%;
  transition: var(--hover-transition);
  box-shadow: var(--shadow);
}

.write img {
  width: 5.5rem;
  height: 5.5rem;
  padding: 1.65rem;
}

@media screen and (min-width: 0) and (max-width: 1023px) {

  .post_item {
    font-size: 1.4rem;
  }

  .post_title {
    font-size: 1.6rem;
  }

  .total_comments {
    width: 3rem;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 651px) and (max-width: 760px) {
  .user_info a {
    max-width: 12rem;
  }
}

@media screen and (max-width: 530px) {
  .user_info a {
    max-width: 12rem;
  }
}

@media screen and (max-width: 460px) {
  .user_info a {
    max-width: 10rem;
  }
}