.category_list {
  width: 100%;
  display: flex;
  gap: .4rem;
}

.category {
  padding: 1rem 1.25rem;
  border-radius: 1.5rem;
  background-color: #383838;
  cursor: pointer;
}

.board_list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--level-1-opacity);
  border-radius: 1rem;
  margin: 1rem .5rem 8rem;
  padding: .5rem 0;
}
