.post {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    padding: .5rem;
    padding-top: 15rem;
    background-color: var(--background);
    transition: .25s;
}

.post.open {
    left: 0;
}

.post_wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.post_info {
    display: flex;
    gap: 2rem;
}

.user_profile {
    width: 5.5rem;
    height: 5.5rem;
}

.post_content {
    text-align: initial;
}