.post {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    padding: 15rem .5rem 1rem;
    background-color: var(--background);
    transition: .25s;
}

.post.open {
    left: 0;
}

.post_wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title {
    text-align: left;
}

.post_info {
    display: flex;
    gap: 2rem;
}

.user_profile {
    width: 5.5rem;
    height: 5.5rem;
}

.post_content {
    text-align: initial;
}

.post_write_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
}

.post_write_wrap > * {
    width: 100%;
}

@media screen and (min-width: 0) and (max-width: 750px) {

    .post {
        padding: 7rem .5rem 1rem;
    }

    .post_wrap {
        padding: 0 1rem;
    }

    .post_info {
        gap: 1rem;
        font-size: 1.3rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .user_profile {
        width: 4rem;
        height: 4rem;
    }
}