.ranking_list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  font-size: 1.8rem;
  padding: 0 .5rem;
}

.item {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-right: 2rem;
  background-color: var(--level-3);
  border-radius: 2rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: .25s;
}

.item:hover {
  background-color: var(--hover);
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--level-0);
  border-radius: 50%;
  font-weight: bold;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.rank::before {
  margin-right: .15rem;
  content: '#';
}

.info_wrap {
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.score_info_wrap {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.student_info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.student_info span:nth-child(3) {
  color: var(--text-level-2);
  font-size: 1.6rem;
  cursor: pointer;
}

.score_info {
  display: flex;
}

.score_info span {
  width: 10rem;
}

.score_info span:nth-child(1)::after {
  content: '점';
}

.score_info span:nth-child(2)::before {
  content: '상점: ';
}

.score_info span:nth-child(3)::before {
  content: '벌점: ';
}

.last_update {
  color: var(--text-level-1);
  width: 15rem;
}

@media screen and (min-width: 0) and (max-width: 1000px) {
  .ranking_list {
    font-size: 1.7rem;
  }

  .rank {
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .info_wrap {
    flex-direction: column;
  }

  .score_info_wrap {
    font-size: 1.4rem;
    gap: .25rem;
    justify-content: space-between;
  }

  .score_info {
    gap: 1rem;
  }

  .score_info span {
    width: auto;
  }

  .last_update {
    width: auto;
  }
}