.ranking_list {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 2rem;
}

.ranking_list li {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-right: 2rem;
    background-color: var(--level-1);
    border-radius: 2rem;
    box-shadow: var(--shadow);
}

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--background);
    border-radius: 50%;
    font-weight: bold;
    margin-right: 2rem;
    font-size: 1.8rem;
}

.rank::after {
    margin-left: .25rem;
    content: '위';
}

.info_wrap {
    display: flex;
    justify-content: space-between;
    flex: auto;
}

.score_info_wrap {
    display: flex;
    align-items: center;
}

.student_info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.student_info span:nth-child(3) {
    color: var(--text-level-2);
    font-size: 1.6rem;
    cursor: pointer;
}

.score_info {
    display: flex;
}

.score_info span {
    width: 10rem;
}

.score_info span:nth-child(1)::after {
    content: '점';
}

.score_info span:nth-child(2)::before {
    content: '상점: ';
}

.score_info span:nth-child(3)::before {
    content: '벌점: ';
}

.last_update {
    font-size: 1.6rem;
    color: var(--text-level-1);
    width: 15rem;
}

@media screen and (min-width: 0) and (max-width: 750px) {
    .ranking_list {
        font-size: 1.8rem;
    }

    .rank {
        margin-right: 1rem;
        font-size: 1.6rem;
    }

    .info_wrap {
        flex-direction: column;
    }

    .score_info_wrap {
        font-size: 1.6rem;
        justify-content: space-between;
    }

    .score_info {
        gap: 1rem;
    }
    
    .score_info span {
        width: auto;
    }

    .last_update {
        font-size: 1.5rem;
        width: auto;
    }
}