a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    border-collapse:  collapse;
    line-height: inherit;
    vertical-align: inherit;
    font-family: inherit;
}

body {
    --gray: #c0c0c0;
    --light_gray: #aaa;
    --white: #fff;
    --red: #e46b5d;
    --yellow: #ffa500;
    --green: #6fd16f;
    --blue: #1188bb;
    --red-level-1: #ffd7ca;
    --yellow-level-1: #fafab0;
    --green-level-1: #d3fad3;
    --blue-level-1: #b7e3f7;
    
    --main: #1188bb;
    color-scheme: light;
    --accent: #1188bb;
    --text: #202124;
    --accent-text: #e8eaed;
    --text-level-1: #606164;
    --text-level-2: #808184;
    --text-level-3: #b0b1b4;
    --background: #ededed;
    --modal-background: #ededed;
  
    --level-1: #f9f9f9;
    --level-2: #dcdcdc;
    --level-3: #bababa;

    --input: rgba(192, 192, 192, .3);
    --menu-background: #ffffff88;
  
    --shadow: .1rem .1rem 1rem rgba(0, 0, 0, .2);
    --shadow-level-1: .2rem .2rem 5rem rgba(0, 0, 0, .2);
    --hover: rgba(0, 0, 0, .2);;
    --bright: brightness(0);
    --visited: #800080;
}
body.dark {
    --gray: #525252;
    --white: #fff;
    --red: #fa8072;
    --yellow: #ff8c00;
    --green: #72c472;
    --blue: #62cdfe;
    --red-level-1: #c3685e;
    --yellow-level-1: #c77109;
    --green-level-1: #5d9b5e;
    --blue-level-1: #4296bd;
    
    --main: #62cdfe;
    color-scheme: dark;
    --accent: #62cdfe;
    --text: #e8eaed;
    --accent-text: #202124;
    --text-level-1: #a8aaad;
    --text-level-2: #888a8d;
    --text-level-3: #585a5d;
    --background: #202124;
    --modal-background: #242528;
  
    --level-1: #303134;
    --level-2: #404145;
    --level-3: #505156;
  
    --menu-background: #33333388;
  
    --dim: rgba(0, 0, 0, .3);
    --shadow: 0 0 0 #000;
    --shadow-level-1: .2rem .2rem 5rem rgba(0, 0, 0, .2);
    --hover: #a8aaad66;
    --bright: brightness(20);
    --visited: #f4a4ff;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    /* 1rem == 10px */
    --scale: 62.5%;
    font-size: var(--scale);
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1.5rem;
    transition: background-color .5s;
    padding: 7rem 0;
    vertical-align: middle;
    line-height: 1.2;
    font-family: NotoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body, .scroll_bar, .modal--content {
    overflow: overlay !important;
}

.no-overlay {
    overflow: auto;
}

.scroll-bar {
    overflow: overlay;
}

:is(
    body,
    .scroll-bar
)::-webkit-scrollbar {
    width: 2rem;
}

.modal--content::-webkit-scrollbar {
    width: .4rem;
}

:is(
    body,
    .scroll-bar,
    .modal--content
)::-webkit-scrollbar-thumb {
    background-color: var(--text-level-1);
    border-radius: 1rem;
    border: .8rem solid transparent;
    background-clip: padding-box;
}

.modal--content::-webkit-scrollbar-thumb {
    border: 0;
}

@font-face {
    font-family: 'NotoSans';
    font-weight: normal;
    src: url('/fonts/NotoSansKR-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'NotoSans';
    font-weight: bold;
    src: url('/fonts/NotoSansKR-Bold.woff2') format('woff2');
}

@keyframes blocking_click {
    0% {
        pointer-events: none;
    }
    99%{}
    100% {
        pointer-events: visible;
    }
}

span {
    vertical-align: baseline;
}

h1 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2rem;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

img{
    width: auto; 
    filter: brightness(1);
}

label, summary{
    cursor: pointer;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.rows, .cols {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.cols {
    flex-direction: column;
}

.gap-05 {gap: .5rem;}
.gap-1 {gap: 1rem;}
.gap-2 {gap: 2rem;}
.gap-5 {gap: 5rem;}

.space-between {
    justify-content: space-between;
}

.flex-main {
    flex: 1;
}

.gray {
    color: gray;
}

.container {
    max-width: 120rem;
    text-align: center;
    margin-left: auto; margin-right: auto;
    justify-content: center;
    align-items: center;
}

.container._50 {max-width: 50rem;}
.container._100 {max-width: 100rem;}
.container._110 {max-width: 110rem;}

.container .title {
    margin-top: 5rem;
    margin-left: 2.5rem;
    text-align: left;
}

@media screen and (min-width: 0) and (max-width: 920px)  {
    .container .title {
        margin-left: 1rem;
    }
}

.container .title.center {
    margin-left: 0;
}

.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-wrap > li > h3 {
    padding: 2rem 1.5rem 1rem;
    font-size: 1.6rem;
    color: var(--text-level-1);
}

.list {
    background-color: var(--level-1);
    border-radius: 2rem;
    overflow: hidden;
}

.list li {
    border-bottom: 2px solid var(--background);
    padding: 1.3rem 1.5rem;
    transition: .2s;
    display: flex;
    align-items: center;
    transition: none;
    transition: background-color .25s;
}

.list li.pointer {
    cursor: pointer;
}

.list li:is(.detail, .toggle, .picker) {
    padding: 0 1.5rem;
    gap: 2rem;
}

.list li:is(.detail, .toggle, .picker) span {
    margin: 1.3rem 0;
}

.list li span:nth-child(1) {
    min-width: 7rem;
}

.list li.detail span:nth-child(2) {
    color: var(--text-level-1);
}

.list li.detail span:nth-child(3) {
    cursor: pointer;
    margin-left: auto;
    color: var(--text-level-2);
}

.list li.toggle .toggle-button {
    margin-left: auto;
}

.list li.picker div {
    margin: 0 0 0 auto !important;
}

.list li.picker input {
    background: none;
}

.list li.picker input:valid:not(:focus) {
    box-shadow: none !important;
}

.list li:last-child {
    border: none;
}

.list li:hover {
    background-color: var(--hover);
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-menu > .select {
    position: relative;
    z-index: 1;
    padding-right: 2rem;
}

.dropdown-menu > .select::after {
    content: ' ▼';
}


.dropdown-content {
    transform: translateY(-1.5rem);
    right: 0;
    opacity: 0;
    pointer-events: none;
    position:  absolute;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    word-break: keep-all;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    background-color: var(--level-1);
    transition: all .25s;
}

.dropdown-menu:hover .dropdown-content {
    transform: translateY(0) !important;
    opacity: 1;
    animation: blocking_click 250ms ease;
    animation-fill-mode:  forwards;
}

.dropdown-content .option {
    display: inline-block;
    padding: 1.2rem 1.6rem;
    width: 100%;
    cursor: pointer;
    transition: .25s;
    border-radius: .5rem;
}

.dropdown-content .option:hover {
    background-color: var(--hover);
}

.dropdown-content .option:active {
    transform: scale(.8);
}

.left-slide-menu {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.left-slide-menu .menu-button {
    position: relative;
}

.left-slide-menu .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100%;
    word-break: keep-all;
    padding: 1rem;
    transition: .25s;
    background-color: var(--menu-background);
}

.left-slide-menu .menu-button:hover ~ .menu-list,
.menu-list:hover {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
}

.menu-button {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    transition: all .25s;
}

.menu-button:hover {
  box-shadow: var(--shadow);
  background-color: var(--hover);
}

.menu-button .line {
    width: 3rem;
    height: .3rem;
    border-radius: 1rem;
    background-color: var(--text);
    display: block;
    margin: .25rem 0;
    filter: var(--bright);
    transition: .4s ease-in-out;
}

.dim {
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 100;
}

.toast-wrap {
    position: fixed;
    bottom: 7rem;
    right: 1rem;
    z-index: 102;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
}

@keyframes toast_show {
    from    {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toast_hide {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.toast{
    min-width: 20rem;
    padding: 2rem 1rem;
    background-color: var(--level-1);
    transition: .25s;
    text-align: center;
    font-weight: bold;
    color: var(--text);
    animation: toast_show 250ms ease-out;
    white-space: pre-line;
    cursor: pointer;
}

.toast:hover {
    background-color: var(--hover);
}

.toast.hide {
    animation: toast_hide 250ms ease-out;
}

@keyframes alert_show {
    from {
        opacity: 0;
        transform: translatey(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes alert_hide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

.alert-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
    z-index: 102;
    text-align: center;
    font-weight: bold;
}

.alert {
    max-width: 100rem;
    width: 100%;
    padding: 1.75rem 1rem;
    color: var(--white);
    background-color: var(--red);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    transition: .25s;
    animation: alert_show 250ms ease-out;
    white-space: pre-line;
}

.alert.hide {
    animation: alert_hide 250ms ease-out;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
}

.loading > div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loading span {
    display: inline-block;
    width: 7.5rem;
    height: 7.5rem;
    border: 1rem solid var(--text-level-2);
    border-radius: 50%;
    border-top-color: var(--accent);
    animation: spin .75s ease-in-out infinite;
    -webkit-animation: spin .75s ease-in-out infinite;
}

@keyframes spin {
    to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
    to {-webkit-transform: rotate(360deg);}
}

.logo {
    height: 5.2rem;
    padding: 1.2rem;
    filter: var(--bright);
}

.button{
    width: auto;
    color: var(--text);
    border: none;
    padding: 1.5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: .75rem;
    background-color: var(--level-2);
    box-shadow: var(--shadow);
    transition: .25s;
}

.button:hover {
    box-shadow: var(--shadow);
    background-color: var(--hover) !important;
}

.button:active,
.button-wrap > *:active {
    transform: scale(.8);
}

.button-wrap > * {
    transition: .25s;
}

.button.delete {
    background-color: var(--red);
}

.toggle-button {
    position: relative;
    background-color: grey;
    width: 4rem;
    height: 2.2rem;
    border-radius: 1.6rem;
}

.toggle-button.active {
    background-color: var(--accent);
}

.toggle-button .slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .3rem;
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    border-radius: 50%;
    transition: .25s;
}

.toggle-button.active .slider {
    left: calc(100% - .3rem - 1.6rem);
}

.checkbox {
    display: inline-flex;
    gap: .5rem;
    transition: .25s;
}

.checkbox:active {
    transform: scale(.8);
}

.accent {
    color: var(--accent-text);
    background-color: var(--accent);
}
.accent-text {
    color: var(--accent);
}

.inactive {
    opacity: .5;
    cursor: not-allowed;
}

.close_button,
.edit_button {
    width: 5rem;
    height: 5rem;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
    background: none;
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: center;
    border: none;
    filter: var(--bright);
    transition: .25s;
}

:is(
    .close_button,
    .edit_button
):hover {
    box-shadow: var(--shadow);
    background-color: var(--hover);
}

.icon {
    filter: var(--bright);
}

.close_button {
    height: 4rem;
    background-image: url('/icons/x.svg');
}

.edit_button {
    width: 3rem;
    height: 3rem;
    background-size: 2rem;
    background-image: url('/icons/edit.svg');
}

#modal-wrap {
    pointer-events: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    pointer-events: all;
    margin: 6rem 0 0 0;
    min-width: 20rem;
    min-height: 6rem;
    position: absolute;
    font-weight: bold;
    word-break: keep-all;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
    background-color: var(--modal-background);
    z-index: 101;
    animation: modal_show 100ms ease-out;
}

.modal--title {
    margin: 0 5rem;
    text-align: center;
    font-size: 2.4rem;
}

.modal.main {
    width: 40rem;
}

.modal.big {
    min-width: 60rem;
    max-width: 80rem;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .modal {
        max-width: calc(100% - 1rem) !important;
        min-width: 0 !important;
    }
}

@keyframes modal_show {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.modal--menu {
    display: flex;
}

.modal--menu li {
    padding: 1rem;
    flex: 1;
    transition: .25s;
    cursor: pointer;
}

.modal--menu li:first-child {
    border-radius: 1rem 0 0 1rem;
}

.modal--menu li:last-child {
    border-radius: 0 1rem 1rem 0;
}

.modal--menu li:hover {
    background-color: var(--hover);
}

.modal--menu li.active {
    background-color: var(--level-2);
}

.modal--content {
    margin-top: 1rem;
    text-align: center;
    max-height: calc(100vh - 15rem);
    overflow-y: auto;
}

.modal form {
    margin-top: 1rem;
}

.modal .close_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal--bottom-menu-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

.modal--bottom-menu-box span {
    cursor: pointer;
}

.modal.modal .button.main {
    margin-top: 1rem;
}

.modal.modal :is(
    .input:is([type=text], [type=password]),
    .button.main
) {
    width:100% !important;
}

.detail {
    color: var(--text-level-1);
    font-size: 1.6rem;
    cursor: pointer;
}

.user-profile {
    border-radius: 50%;
    height: 2rem;
}

.oauth-bsm {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: .5rem 1rem;
    color: rgb(96, 96, 96);
    background-color: white;
    border-radius: 1rem;
}

.oauth-bsm:hover {
    background-color: white !important;
}

.oauth-bsm img {
    height: 3.5rem;
    padding: .75rem 0;
}

.oauth-bsm span {
    font-size: 1.4rem;
    font-weight: bold;
}