@import url(common/button.css);
@import url(common/alert.css);
@import url(common/list.css);
@import url(common/modal.css);

@import url(etc/code-highlight.css);
@import url(etc/oauth.css);
@import url(board/emoticon.css);

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  border-collapse:  collapse;
  line-height: inherit;
  vertical-align: inherit;
  font-family: inherit;
}

body {
  color-scheme: light;

  --gray: #c0c0c0;
  --light_gray: #aaa;
  --white: #fff;
  --red: #e46b5d;
  --yellow: #ffa500;
  --green: #6fd16f;
  --blue: #1188bb;
  --red-level-1: #ffd7ca;
  --yellow-level-1: #fafab0;
  --green-level-1: #d3fad3;
  --blue-level-1: #b7e3f7;
  
  --main: #1188bb;
  --accent: #1188bb;
  --text: #202124;
  --accent-text: #e8eaed;
  --text-level-1: #606164;
  --text-level-2: #808184;
  --text-level-3: #b0b1b4;
  
  --level-0: #fafafa;
  --level-1: #fafafa;
  --level-2: #f3f3f3;
  --level-3: #ededed;
  --level-4: #ededed;
  --level-5: #ededed;
  --level-6: #ededed;
  --level-7: #ededed;
  
  --level-0-opacity: #fafafa88;
  --level-1-opacity: #fafafa88;
  --level-2-opacity: #fafafa88;
  --level-3-opacity: #fafafa88;
  --level-4-opacity: #fafafa88;
  --level-5-opacity: #fafafa88;

  --input: rgba(192, 192, 192, .3);
  
  --dim: rgba(0, 0, 0, .4);
  --shadow: .1rem .1rem .5rem rgba(0, 0, 0, .15);
  --shadow-level-1: .2rem .2rem 5rem rgba(0, 0, 0, .2);
  --drop-shadow: drop-shadow(rgba(90, 90, 90, 0.1) 0px 2px 5px);
  --hover: #a8aaadaa;
  --hover-transition: background .25s;
  --bright: brightness(0);
  --visited: #800080;

  --background: var(--level-2);
}

body.dark {
  color-scheme: dark;

  --gray: #525252;
  --white: #fff;
  --red: #fa8072;
  --yellow: #ff8c00;
  --green: #72c472;
  --blue: #62cdfe;
  --red-level-1: #c3685e;
  --yellow-level-1: #c77109;
  --green-level-1: #5d9b5e;
  --blue-level-1: #4296bd;
  
  --main: #62cdfe;
  --accent: #62cdfe;
  --text: #e8eaed;
  --accent-text: #202124;
  --text-level-1: #a8aaad;
  --text-level-2: #888a8d;
  --text-level-3: #585a5d;
  
  --level-0: #1a1a1a;
  --level-1: #282828;
  --level-2: #303030;
  --level-3: #383838;
  --level-4: #404040;
  --level-5: #484848;
  --level-6: #505050;
  --level-7: #585858;
  
  --level-0-opacity: #1a1a1aaa;
  --level-1-opacity: #282828aa;
  --level-2-opacity: #303030aa;
  --level-3-opacity: #383838aa;
  --level-4-opacity: #404040aa;
  --level-5-opacity: #484848aa;
  --level-6-opacity: #505050aa;
  --level-7-opacity: #585858aa;
  
  --dim: rgba(0, 0, 0, .4);
  --shadow: none;
  --shadow-level-1: none;
  --hover: #60606088;
  --bright: brightness(20);
  --visited: #f4a4ff;

  --background: var(--level-0);
}

:root {
  --vh: 1vh;
}

html {
  /* 1rem == 10px */
  --scale: 62.5%;
  font-size: var(--scale);
  height: calc(var(--vh) * 100);
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  height: 100%;
  background-color: var(--background);
  color: var(--text);
  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 1.2;
  font-family: NotoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.wrap {
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar content";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;
}
  
main {
  position: relative;
  grid-area: content;
  border-radius: 1rem 0 0;
  box-shadow: var(--shadow);
  overflow: hidden;
  overflow-y: auto;
  width: calc(100vw - 25rem);
  background-color: var(--level-1);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 650px) {
  .wrap {
    grid-template-areas: 
    "header header"
    "sidebar content"
    "navbar navbar";
    overflow: hidden;
  }
  main {
    width: 100vw;
  }
}

body, .scroll-bar:not(.horizontal) {
  overflow-y: auto;
}

.scroll-bar.horizontal {
  overflow-x: auto;
}

:is(
  body,
  .scroll-bar
)::-webkit-scrollbar {
  width: .8rem;
}

.scroll-bar.horizontal::-webkit-scrollbar {
  height: .8rem;
}

:is(
  body,
  .scroll-bar
)::-webkit-scrollbar-thumb {
  background-color: var(--text-level-1);
  border-radius: 1rem;
}

.scroll-bar.horizontal::-webkit-scrollbar-thumb {
  border: .3rem solid transparent;
}

@font-face {
  font-family: 'NotoSans';
  font-weight: normal;
  src: url('/fonts/NotoSansKR-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: bold;
  src: url('/fonts/NotoSansKR-Bold.woff2') format('woff2');
}

@keyframes blocking_click {
  0% {
    pointer-events: none;
  }
  99%{}
  100% {
    pointer-events: visible;
  }
}

span {
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

img{
  width: auto; 
  filter: brightness(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label, summary{
  cursor: pointer;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.rows, .cols {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.cols {
  flex-direction: column;
}

.gap-05 {gap: .5rem;}
.gap-1 {gap: 1rem;}
.gap-2 {gap: 2rem;}
.gap-5 {gap: 5rem;}

.space-between {
  justify-content: space-between;
}

.flex-main {
  flex: 1;
}

.gray {
  color: gray;
}

.container {
  max-width: 120rem;
  text-align: center;
  margin-left: auto; margin-right: auto;
  justify-content: center;
  align-items: center;
}

.container._50 {max-width: 50rem;}
.container._100 {max-width: 100rem;}
.container._110 {max-width: 110rem;}

.container .title {
  margin-top: 5rem;
  margin-left: 2.5rem;
  text-align: left;
}

@media screen and (min-width: 0) and (max-width: 920px)  {
  .container .title {
    margin-left: 1rem;
  }
}

.container .title.center {
  margin-left: 0;
}

.menu-button {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 1rem;
  transition: var(--hover-transition);
}

.menu-button:hover {
  box-shadow: var(--shadow);
  background-color: var(--hover);
}

.menu-button .line {
  width: 2.5rem;
  height: .3rem;
  border-radius: 1rem;
  background-color: var(--text);
  display: block;
  margin: .2rem 0;
  filter: var(--bright);
  transition: transform .4s ease-in-out;
}

.go-back .line:not(:nth-child(2)) {
  width: 2rem;
}

.go-back .line:nth-child(1) {
  transform: translateY(.35rem) rotate(-25deg);
}

.go-back .line:nth-child(2) {
  opacity: 0;
}

.go-back .line:nth-child(3) {
  transform: translateY(-.295rem) rotate(25deg);
}

.dim {
  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dim);
  z-index: 100;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
}

.loading > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading span {
  display: inline-block;
  width: 7.5rem;
  height: 7.5rem;
  border: 1rem solid var(--text-level-2);
  border-radius: 50%;
  border-top-color: var(--accent);
  animation: spin .75s ease-in-out infinite;
  -webkit-animation: spin .75s ease-in-out infinite;
}

@keyframes spin {
  to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
  to {-webkit-transform: rotate(360deg);}
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

.accent {
  color: var(--accent-text) !important;
  background-color: var(--accent) !important;
}
.accent-text {
  color: var(--accent) !important;
}

.inactive {
  opacity: .5;
  cursor: not-allowed;
}

.close_button,
.edit_button {
  width: 5rem;
  height: 5rem;
  border-radius: .5rem;
  padding: 1rem;
  cursor: pointer;
  background: none;
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: center;
  border: none;
  transition: var(--hover-transition);
  filter: var(--bright);
}

:is(
  .close_button,
  .edit_button
):hover {
  box-shadow: var(--shadow);
  background-color: var(--hover);
}

.icon {
  filter: var(--bright);
}

.close_button {
  height: 4rem;
  background-image: url('/icons/x.svg');
}

.detail {
  color: var(--text-level-1);
  font-size: 1.6rem;
  cursor: pointer;
}

.user-profile img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.react-resizable-handle::after {
  border-right: 2px solid var(--text-level-1) !important;
  border-bottom: 2px solid var(--text-level-1) !important;
}
