.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
}

.top_menu_bar .dropdown:first-child :global(.dropdown-content) {
  right: auto;
  left: 0;
}

.top_menu_bar .dropdown li {
  width: 14rem;
}

.header .top {
  width: 100%;
  padding: .5rem;
  border-radius: .75rem;
  pointer-events: all;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: .75rem;
  transition: .25s;
  padding: 1.3rem 1.8rem;
  user-select: none;
}

.top li .item.home {
  height: 100%;
  padding: 0 1.8rem;
}

.home {
  font-size: 2rem;
  letter-spacing: -.1rem;
}

.all_menu {
  padding: 0 1.1rem;
  height: 100%;
}

.item:hover {
  background-color: var(--hover);
}

.top_menu_bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.top_menu_bar :is(.left, .right) {
  display: flex;
  gap: .5rem;
}

.top_menu_bar :is(.left, .right) > li:not(.dropdown) {
  display: flex;
}

.top_menu_bar .title {
  max-width: calc(100vw - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.top_menu_bar .title h2 {
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top_menu_bar > .title {
  font-size: 2rem;
  display: flex;
}

.top_menu_bar .left .title {
  font-size: 1.8rem;
  display: none;
}

@media screen and (max-width: 650px) {
  .top_menu_bar .right,
  .top_menu_bar .home {
    display: none !important;
  }

  .top_menu_bar .left {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .top_menu_bar > .title {
    display: none;
  }
  
  .top_menu_bar .left .title {
    display: flex;
  }
}

@media screen and (min-width: 651px) {
  .top_menu_bar .all_menu {
    display: none !important;
  }
}

.setting {
  width: 4.4rem;
  height: 4.4rem;
  padding: 1.1rem !important;
}

.setting img {
  width: 2.2rem;
  filter: var(--bright);
}
