.quick_menu_section {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.quick_menu_list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
  max-width: 100rem;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--level-0-opacity);
  filter: var(--drop-shadow);
  padding: 2rem;
  border-radius: .75rem;
  transition: var(--hover-transition);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}

.menu:hover {
  background-color: var(--hover);
}

.icon {
  width: 4rem;
  height: 4rem;
  padding: .5rem;
  filter: var(--bright);
}

.user_icon {
  height: 4rem;
}

.user_icon img {
  width: 4rem !important;
  height: 4rem !important;
  padding: .25rem !important;
}

.sub_content {
  font-size: 1.4rem;
  font-weight: normal;
}

.main_content {
  font-size: 1.8rem;
}

.meister .sub_content {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.meister .main_content {
  font-size: 1.6rem;
}

.meister .main_content span:nth-child(2) {
  margin-left: .5rem;
  font-size: 1.3rem;
  color: var(--text-level-1);
}

.meister_info {
  display: inline-flex;
  align-items: center;
  gap: .3rem;
}

.refresh {
  width: 1.8rem !important;
  height: 1.8rem !important;
  padding: 0 !important;
}

.edit_background_image {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: var(--level-0-opacity);
  border-radius: .5rem;
  transition: var(--hover-transition);
  cursor: pointer;
}

.edit_background_image:hover {
  background-color: var(--hover);
}

/* 가로 메뉴 */
@media screen and (min-height: 0px) and (max-height: 600px) {

  .quick_menu_list {
    margin-top: 5rem;
    row-gap: 1.5rem;
    column-gap: 2rem;
  }

  .menu {
    gap: 1.5rem;
    padding: 1.5rem;
    font-size: 1.7rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    padding: .4rem;
  }

  .sub_content {
    font-size: 1.3rem;
  }

  .main_content {
    font-size: 1.6rem !important;
  }
}

/* 세로 메뉴 */
@media screen and (min-width: 0px) and (max-width: 980px) {

  .quick_menu_list {
    margin-top: 6rem;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .menu {
    padding: 1.75rem 2.5rem;
    font-size: 1.7rem;
  }

  .icon {
    width: 2.75rem;
    height: 2.75rem;
    padding: .25rem;
  }

  .user_icon {
    width: 3rem;
    height: 3rem;
  }

  .user_icon img {
    width: 3rem !important;
    height: 3rem !important;
    padding: 0 !important;
  }

  .sub_content {
    font-size: 1.3rem;
  }

  .main_content {
    font-size: 1.6rem !important;
  }
}
