.quick_menu_section {
    width: 100%;
    height: calc(1vh * 100);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 1rem;
}

.quick_menu_list {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    row-gap:3rem;
    column-gap:5rem;
    max-width:100rem;
    width:100%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--menu-background);
    padding: 2rem;
    border-radius: 1rem;
    transition: .25s;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: bold;
}

.menu:hover {
    background-color: var(--hover);
}

.icon {
    width: 5rem;
    height: 5rem;
    padding: .75rem;
}

.icon:not(.user_icon) {
    filter: var(--bright);
}

.user_icon {
    padding: .5rem;
}

.user_info {
    font-size: 1.7rem;
}

.user_name {
    font-size: 2.2rem;
}

/* 가로 메뉴 */
@media screen and (min-height: 0px) and (max-height: 600px) {
    .quick_menu_section {
        padding-top: 5rem;
    }

    .quick_menu_list {
        row-gap: 2rem;
        column-gap: 3rem;
    }
    
    .menu {
        gap: 1.5rem;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .icon {
        width: 4rem;
        height: 4rem;
        padding: .5rem;
    }

    .user_info {
        font-size: 1.4rem;
    }

    .user_name {
        font-size: 1.8rem;
    }
}

@media screen and (min-height: 0px) and (max-height: 400px) {
    .quick_menu_section {
        justify-content: end;
        padding: 1rem;
    }

    .quick_menu_list {
        row-gap: 1.5rem;
        column-gap: 2rem;
    }
    
    .menu {
        gap: 1.5rem;
        padding: 1rem;
        font-size: 1.8rem;
    }

    .icon {
        width: 3.5rem;
        height: 3.5rem;
        padding: .5rem;
    }

    .user_info {
        font-size: 1.4rem;
    }

    .user_name {
        font-size: 1.8rem;
    }
}

/* 세로 메뉴 */
@media screen and (min-width: 0px) and (max-width: 780px) {
    .quick_menu_list {
        column-gap: 2rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 750px) and (min-height: 600px) {
    .quick_menu_section {
        padding-top: 5rem;
    }
    
    .quick_menu_list {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .menu {
        padding: 1.75rem 2.5rem;
        font-size: 2rem;
    }

    .icon {
        width: 3rem;
        height: 3rem;
        padding: .25rem;
    }

    .user_icon {
        padding: 0;
    }

    .user_info {
        font-size: 1.4rem;
    }

    .user_name {
        font-size: 1.8rem;
    }
}