.input_wrap {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 37.5rem;
    transition: .25s;
}

.input_wrap.number {
    width: 5.5rem;
}

.input_wrap.full {
    width: 100%;
}

.input_wrap .input {
    border: none;
    outline: none;
    width: 100%;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text);
    background-color: var(--input);
    border-radius: .5rem;
    text-align: left;
    transition: .25s;
}

.input_wrap.number .input {
    padding: 1rem 0 1rem 1rem;
}

.input_wrap :is(
    .input,
    textarea
):hover {
    box-shadow: var(--shadow) inset;
}

.input_wrap .placeholder {
    position: absolute;
    left: 0;
    padding: 1.5rem;
    font-weight: bold;
    pointer-events: none;
    color: var(--text);
    transition: .15s;
}

.input_wrap.number .input ~ .placeholder {
    padding: 1rem 0 1rem 1rem;
}

.input_wrap .input:is(
    :valid,
    :focus,
    .active
) {
    background: none !important;
}

.input_wrap .input:is(
    :valid,
    :focus,
    .active
) ~ .placeholder {
    left: 0;
    transform: translate(1.5rem, -2.25rem);
    padding: 0 .5rem;
    font-size: 1.3rem;
    color: var(--accent);
    background-color: var(--background);
}

.input_wrap.number .input:is(
    :valid,
    :focus,
    .active
) ~ .placeholder {
    transform: translate(.5rem, -1.8rem);
}

.input_wrap .input:focus {
    box-shadow: 0 0 0 .2rem var(--main) inset;
}

.input_wrap .input:is(
    :valid,
    .active
):not(:focus) {
    box-shadow: 0 0 0 .2rem var(--text-level-1) inset;
}

.input_wrap .input:is(
    :valid,
    .active
):not(:focus) ~ .placeholder {
    color: var(--text-level-1);
}

.input_wrap .input:not(:valid, .active):not(:focus) {
    color: rgba(0, 0, 0, 0);
}

.input_wrap .input[disabled] {
    opacity: .3;
    color: rgba(0, 0, 0, 0);
    cursor: not-allowed;
}

.input_wrap .input[disabled] ~ .placeholder {
    opacity: .3;
}

.input_wrap:active {
    transform: scale(.95);
}

.input_wrap.number:active  {
    transform: scale(.8);
}

.editor {
    width: 100%;
    border-radius: 1rem;
}

.editor .input {
    width: 100%;
}

.editor .placeholder {
    top: 1.5rem;
    left: 1.5rem;
    padding: 0;
}